body {
  background-color: rgb(20, 20, 20);
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  max-width: 384px;
  background-color: rgb(31, 31, 31);
  border-radius: 12px;
  padding: 40px;
}

img {
  height: 88px;
  width: 88px;
  border-radius: 100%;
  display: block;
  margin: auto;
}

section {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
  line-height: 150%;
  color: white;
  font-weight: 500;
  text-align: center;
  margin: 0px;
}

p {
  font-size: 14px;
  line-height: 150%;
  color: rgb(196, 248, 42);
  font-weight: 600;
  text-align: center;
  margin: 0px;
}

.bio {
  color: white;
  font-size: 14px;
  line-height: 150%;
  font-weight: 300;
  padding-bottom: 20px;
}

.buttons {
  width: 304px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

button {
  background-color: rgb(51, 51, 51);
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  border-radius: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  transition: background-color 0.8s ease-in, background-color 1s ease-out;
}

button:hover {
  background-color: rgb(196, 248, 42);
  color: black;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}